<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0" id="cordova-plugin-apprate" version="1.3.0">
    <name>AppRate</name>
    <description>This plugin provides "Rate This App" functionality to your Cordova/Phonegap application</description>
    <author email="hello@pushandplay.ru" href="http://pushandplay.ru">pushandplay</author>
    <keywords>cordova,phonegap,AppRate,App Rate,rate,iRate,rate in iTunes,write a review,rate us,rate my application</keywords>
    <license>Apache 2.0</license>
    <info>Cross-platform AppRate plugin for Cordova / PhoneGap</info>
    <repo>https://github.com/pushandplay/cordova-plugin-apprate.git</repo>
    <issue>https://github.com/pushandplay/cordova-plugin-apprate/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <dependency id="cordova-plugin-dialogs"/>
    <!--dependency id="cordova-plugin-globalization"/-->
    <dependency id="cordova-plugin-inappbrowser"/>

    <js-module src="www/AppRate.js" name="AppRate">
        <clobbers target="AppRate"/>
    </js-module>

    <!--js-module src="www/locales.js" name="locales">
        <runs target="AppRateLocales"/>
    </js-module-->

    <platform name="android">
        <source-file src="src/android/AppRate.java" target-dir="com/eduardokraus/apprate"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppRate">
                <param name="android-package" value="com.eduardokraus.apprate.AppRate"/>
            </feature>
        </config-file>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AppRate">
                <param name="ios-package" value="CDVAppRate"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVAppRate.h"/>
        <source-file src="src/ios/CDVAppRate.m"/>

        <framework src="StoreKit.framework"/>
    </platform>

    <platform name="blackberry10">
    </platform>

    <platform name="wp8">
    </platform>

    <platform name="windows8">
    </platform>

    <platform name="windows">
    </platform>

</plugin>
